{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{form|crispy}}
    {% if request.path == "/login/" %}
    <button type="submit" class="btn btn-success">Login</button>
    {% elif request.path == "/addticket/" %}
    <button type="submit" class="btn btn-success">Submit Ticket</button>
    {% else %}
    <button type="submit" class="btn btn-success">Submit Edit</button>
    {% endif %}
</form>

{% endblock %}


{% comment %} <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    {% if request.path == "/login/" %}
    <input type="submit" value="Login">
    {% elif request.path == "/addticket/" %}
    <input type="submit" value="Submit Ticket">
    {% else %}
    <input type="submit" value="Submit Edit">
    {% endif %}
</form> {% endcomment %}