<h1>{{Welcome}}</h1>
<a href="/addticket/"><button>Submit Ticket</button></a>
<br>
<br>
<h2>New Tickets</h2>
{% for ticket in new_tickets %}
<ul>
    <h3>Title | Reported By</h3>
    <a href="/ticket/{{ticket.id}}/">{{ticket.title}}</a> | <a
        href="/user/{{ticket.name_of_user.id}}/">{{ticket.name_of_user}}</a>
</ul>
{% endfor %}
<br>
<br>
<h2> In Progress </h2>
{% for ticket in inprogress_tickets %}
<ul>
    <h3>Title | Reported By</h3>
    <a href="/ticket/{{ticket.id}}/">{{ticket.title}}</a> | <a
        href="/user/{{ticket.name_of_user.id}}/">{{ticket.name_of_user}}</a>
</ul>
{% endfor %}
<br>
<br>
<h2>Done</h2>
{% for ticket in done_tickets %}
<ul>
    <h3>Title | Reported By</h3>
    <a href="/ticket/{{ticket.id}}/">{{ticket.title}}</a> | <a
        href="/user/{{ticket.name_of_user.id}}/">{{ticket.name_of_user}}</a>
</ul>
{% endfor %}
<h2>Invalid</h2>
{% for ticket in invalid_tickets %}
<ul>
    <h3>Title | Reported By</h3>
    <a href="/ticket/{{ticket.id}}/">{{ticket.title}}</a> | <a
        href="/user/{{ticket.name_of_user.id}}/">{{ticket.name_of_user}}</a>
</ul>
{% endfor %}
<br>
<br>
<a href="/logout/"><button>Logout</button></a>